# Gradle
.gradle
build/
local.properties
*.iml
*.ipr
*.iws

# Kotlin/IntelliJ
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# macOS
.DS_Store

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.dex
*.class

# iOS / Xcode
*.xcworkspace/
*.xcodeproj/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
Pods/
DerivedData/
Carthage/
fastlane/

# Compose Multiplatform Desktop
*.hprof
*.jfr

# Web (Wasm/JS)
node_modules/
package-lock.json
yarn.lock
dist/

# Misc
bin/
out/
tmp/
temp/